---
layout: "layouts/base.njk"
---

<div class="bragdoc__section" id="bragdoc__section">
    {% include 'partials/site-head.html' %}
    <div class="bragdoc__container">
        <div class="bragdoc__profile">
            <img class="bragdoc__photo" src="{{ '/images/profile_picture.jpg' | url }}">
                <h1 class="bragdoc__name">Zakaria Shahen</h1>
                <div class="role">back-end developer</div>
            </div>
            {% for post in collections.posts | reverse %}
                {% if post.data.public %}
                    {% include 'partials/bragdoc-entry.njk' %}
                {% endif %}
            {% endfor %}
            
            {# backup from https://www.bragdocs.com/@zakaria-shahen #}
            {% for post in bragdocsBackup %}
                {% if post.public %}
                    {% include 'partials/bragdoc-entry.njk' %}
                {% endif %}
            {% endfor %}
            
        </div>
        {% include 'partials/site-foot.html' %}
    </div>